* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #9825cc !important;
    color: #fff;
}

.link-router {
    color: #fff;
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}
::-moz--moz-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-moz-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}
::-moz-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
::-moz-scrollbar-thumb:hover {
    background: transparent;
}
